.login-layout {
  display: flex;
  flex-direction: column;
  margin-top: 130px;
  height: 80vh;
}

.login-btn {
  display: flex;
  justify-content: center;
}

.login-btn button {
  width: 100%;
  border-radius: 5px;
  height: 38px;
  border: 0;
  outline: 0;
  background: lightsalmon;
  color: white
}

.login-menu {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.login-menu div {}

.login-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px
}