.main-container {
  height: 100%;
}

.main-container h2 {
  font-weight: 300;
  padding-left: 15px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 26px;
  padding: 0
}

.main-flex {
  justify-content: center;
  margin-bottom: 5%;
}

.main-choice {
  width: 12vh;
  height: 12vh;
  /* display: flex; */
  display: block;
  border-radius: 12px;
  margin-right: 2.5%;
  margin-left: 2.5%;
  margin-bottom: 5%;
}

.main-choice1 {
  height: 150px;
  display: flex;
  background-color: lightsalmon;
  border-radius: 12px;
}

.main-choice a {
  margin: auto;
  padding: auto;
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 20px;
}

.choice-text {
  background-color: white;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: gray;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 2vh;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
}

/* 커뮤니티 부분만 */
.choice-community {
  background-color: white;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
  /* text-align: center; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  margin-bottom: 1vh;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 2vh;
  border-radius: 10px;
}

.choice-img {
  width: 10vh;
  height: 10vh;
  margin: auto;
}
