.detail-card {
  background-color: white;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
  color: gray;
  text-align: left;
  padding: 15px;
  border-radius: 10px;
}

.detail-title {
  text-align: center;
  margin-top: 10px;
  background-color: white;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.Btns {
  display: flex;
  margin-top: 10px;
}

.matchingDetailBtn {
  background-color: lightsalmon;
  border-color: lightsalmon;
  color: white;
  margin-right: 5px;
  border-radius: 5px;
  border: 0;
  outline: 0;
}

.chattingRoomBtn a {
  text-decoration: none;
  color: white;
  padding: 0;
}

.chattingRoomBtn {
  background-color: skyblue;
  border-color: skyblue;
  border-radius: 5px;
  border: 0;
  outline: 0;
}

.matching-detail-h5 {
  color: lightsalmon;;
  margin-bottom: 3px;
}

.matching-detail-info {
  margin-bottom: 15px;
}